main {
  margin-top: 60px;
  margin-left: 360px;
  margin-right: 360px;
  margin-bottom: 60px;
  word-wrap:break-word;
}
.page-nav img {
  width: 965px;
  height: 920px;
  overflow: hidden;
}
.page-nav {
  width: 100%;
  height: 920px;
  overflow: hidden;
}
/*Header Navigation*/
.page-nav ul {
  display: inline-flex;
  float: right;
}
.page-nav li{
  color: #000000;
  text-transform: uppercase;
  font-size: 13px;
  line-height: 15px;
  font-weight: 400;
  list-style-type: none;
}
.header-links {
  color: #000000;
  float:left;
  text-transform: uppercase;
  margin-top: 15px;
  font-size: 13px;
  line-height: 15px;
  font-weight: 400;
  list-style-type: none;
  margin-right: 3em;
  text-decoration: none;
}
.header-links i {
  margin-top: -5px;
  font-size: 13px;
  line-height: 40px;
  color: #989898;
}
.page-nav li:hover a{
  color: #00c8c8;
}
.page-nav li:hover i{
  color: #00c8c8;
}

/* Sub Navigation Bar */
nav .submenu {
	visibility: hidden;
	height: auto;
  width: 400px;
  position: absolute;
	z-index: 1000;
  margin-top: 60px;
  margin-left: -120px;
  display: inline-block;
  background-color: #f8f8f8;
  filter: drop-shadow(0px 17px 12px rgba(0,0,0,1));
}
nav .submenu li {
	display: block;
}
.submenu-top {
  display: flex;
}
.submenu-left {
  margin-bottom: 20px;
}
.submenu-right {
  padding-left: 50px;
}
nav .submenu li .big {
  font-size: 12px;
  line-height: 50px;
  color: #000000;
  font-weight: 700;
}
nav .submenu li .normal {
  text-transform: none;
  font-size: 14px;
  line-height: 30px;
  color: #727272;
  font-weight: 300;
}
nav .submenu li .normal:hover {
  color: #00c8c8;
}
nav .submenu-bottom li{
  background-color: #000000;
  margin-left: -15px;
  margin-bottom: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 390px;
  font-size: 36px;
  letter-spacing: 2px;
  line-height: 48px;
  color: #ffffff;
  font-weight: 500;
  text-align: center;
}
nav li:hover .submenu,
nav li:focus .submenu {
	visibility: visible;
	height: auto;
}
nav li:focus-within .submenu {
	visibility: visible;
	height: auto;
}

/* Homepage Logo */
 .page-logo-home {
  color: #000000;
  font-size: 24px;
  margin: 30px 0px 15px 70px;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: normal;
  position: absolute;
  z-index: 1;
}
.page-logo-home em{
  font-style: normal;
  font-weight: bolder;
}
.homepage-img {
  background-image: url("../img/avehomepage.png");
  background-repeat: no-repeat;
}
.home-header-links {
  background: none;
  position: absolute;
  right: 20px;
}

/* Main Content Filter */
.border {
  margin-left: -300px;
  margin-right: -300px;
  width: auto;
  height: 1px;
  background-color: #eeeeee;
}
.product-filter {
  width: 650px;
  margin-left: -340px;
}
.product-filter-item {
  display: inline;
  list-style-type: none;
  text-transform: uppercase;
  font-size: 13px;
  line-height: 20px;
  font-weight: 400;
  margin-right: 3.5em;
}
.product-filter-item:hover {
  color: #00c8c8;
  cursor: pointer;
}

/* Main Content Products */
.content {
  width: auto;
  margin-left: -310px;
  margin-right: -310px;
}
@media only screen and (max-width: 1820px) {
  .image-big {
    width: 420px;
    height: 500px;
    background-color: #f8f8f8;
  }
}
.image-mini {
  width: 420px;
  height: 500px;
  overflow: hidden;
  margin-top: 10px;
  margin-bottom: 10px;
}
.image-big {
  width: 870px;
  height: 704px;
  overflow: hidden;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: #f8f8f8;
}
@media only screen and (min-width: 1821px) {
  .first {
    display: flex;
    justify-content: space-between;
  }
  .second {
    display: flex;
    justify-content: space-between;
  }
  .second .image-big {
    margin-top: -174px;
  }
}
@media only screen and (max-width: 1820px) {
  .first {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .second {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .second .image-big {
    margin-top: 10px;
  }
}

/* Image-sizes */
#sweatshirt_black {
  margin: 0 0 0 -15px;
}
#tshirt_white {
  margin: 0 0 0 -20px;
}
#pullover_black {
  margin: 0 0 0 20px;
}
#sweatshirt_blue {
  margin: 0 0 0 20px;
}
.second .image-mini {
  margin-top: 30px;
}
#tshirt_orange {
  margin: 0 0 0 -15px;
}
#tshirt_green {
  margin: 0 0 0 -10px;
}
b {
  position: absolute;
  margin-left: 30px;
  margin-top: 15px;
  font-size: 21px;
  letter-spacing: 1px;
  color: #9a9a9a;
  font-weight: 300;
}

/* Hide*/
.hide h2{
  font-size: 13px;
  line-height: 20px;
  color: #727272;
  font-weight: 600;
  text-align: center;
}
.hide h3 {
  font-size: 15px;
  line-height: 22px;
  color: #8e8c8c;
  font-weight: 400;
  font-family: "Roboto";
  text-align: center;
}

/* Hide Image mini */
.image-mini .hide {
  display: none;
  position: absolute;
  width: 420px;
  z-index: 1;
}
.image-mini i.fa.fa-info-circle {
  cursor: pointer;
  margin-left: 190px;
  margin-top: -250px;
  position: absolute;
  font-size: 48px;
  line-height: 20px;
  color: #ffffff;
  filter: drop-shadow(0px 2px 8px rgba(0,0,0,1));
}
.first .image-mini:hover{
  margin-bottom: 200px;
}
.image-mini:hover {
  box-shadow: 0 0 1em;
  padding-bottom: 130px;
}
.image-mini:hover .hide {
  display: block;
}

/* Hide Image big */
.image-big .hide {
  display: none;
  position: absolute;
  width: 870px;
  z-index: 1;
}
.image-big i.fa.fa-info-circle {
  cursor: pointer;
  margin-left: 410px;
  margin-top: -350px;
  position: absolute;
  font-size: 48px;
  line-height: 20px;
  color: #ffffff;
  filter: drop-shadow(0px 2px 8px rgba(0,0,0,1));
}
.image-big:hover {
  box-shadow: 0 0 1em;
  padding-bottom: 130px;
}
.image-big:hover .hide {
  display: block;
}
/* Pagination */
.pagination {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
  margin-left: -300px;
  font-size: 23px;
  width: 50px;
}
.pagination a {
  text-decoration: none;
  color: #727272;
}
.pagination a.active {
  color: #00c8c8;
}
.pagination a:hover {
  color: #00c8c8;
}
