/*
psd file: 2052px breit
          3250px hoch
*/




html, body {
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    color: #9a9a9a;
}

main {
    margin-top: 60px;
    margin-left: 360px;
    margin-right: 360px;
    margin-bottom: 60px;
    word-wrap: break-word;
}

#border {
    width: auto;
    background-color: #eeeeee;
    height: 2px;
    margin-left: -300px;
    margin-right: -300px;
}

#sort {
    width: 650px;
    margin-left: -340px;
}

#sort li {
    display: inline;
    list-style-type: none;
    text-transform: uppercase;
    font-size: 13px;
    line-height: 20px;
    font-weight: 400;
    margin-right: 3.5em;
}

#sort li:hover {
    color: #00c8c8;
    cursor: pointer;
}

.content {
    width: auto;
    margin-left: -310px;
    margin-right: -310px;
}

@media only screen and (max-width: 1820px) {
    .big-image {
        width: 420px;
        height: 500px;
        background-color: #f8f8f8;
    }
}

.small-image {
    width: 420px;
    height: 500px;
    overflow: hidden;
    margin-top: 10px;
    margin-bottom: 10px;
}

.big-image {
    width: 870px;
    height: 704px;
    overflow: hidden;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #f8f8f8;
}


@media only screen and (min-width: 1821px) {
    .first {
        display: flex;
        justify-content: space-between;
    }

    .second {
        display: flex;
        justify-content: space-between;
    }

    .second .big-image {
        margin-top: -174px;
    }
}

@media only screen and (max-width: 1820px) {
    .first {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .second {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .second .big-image {
        margin-top: 10px;
    }
}

#sweatshirt_black {
    margin: 0 0 0 -15px;
}

#tshirt_white {
    margin: 0 0 0 -20px;
}

#pullover_black {
    margin: 0 0 0 20px;
}

#sweatshirt_blue {
    margin: 0 0 0 20px;
}

.second .image-mini {
    margin-top: 30px;
}

#tshirt_orange {
    margin: 0 0 0 -15px;
}

#tshirt_green {
    margin: 0 0 0 -10px;
}

b {
    position: absolute;
    margin-left: 30px;
    margin-top: 15px;
    font-size: 21px;
    letter-spacing: 1px;
    color: #9a9a9a;
    font-weight: 300;
}

.hidden h1 {
    font-size: 13px;
    line-height: 20px;
    color: #727272;
    font-weight: 600;
    text-align: center;
}

.hidden h2 {
    font-size: 15px;
    line-height: 22px;
    color: #8e8c8c;
    font-weight: 400;
    font-family: "Roboto", sans-serif;
    text-align: center;
}

.small-image .hidden {
    display: none;
    position: absolute;
    width: 420px;
    z-index: 1;
}

.small-image i.fa.fa-info-circle {
    cursor: pointer;
    margin-left: 190px;
    margin-top: -250px;
    position: absolute;
    font-size: 48px;
    line-height: 20px;
    color: #ffffff;
    filter: drop-shadow(0px 2px 8px rgba(0, 0, 0, 1));
}

.first .small-image:hover {
    margin-bottom: 200px;
}

.small-image:hover {
    box-shadow: 0 0 1em;
    padding-bottom: 130px;
}

.small-image:hover .hidden {
    display: block;
}

.big-image .hidden {
    display: none;
    position: absolute;
    width: 870px;
    z-index: 1;
}

.big-image i.fa.fa-info-circle {
    cursor: pointer;
    margin-left: 410px;
    margin-top: -350px;
    position: absolute;
    font-size: 48px;
    line-height: 20px;
    color: #ffffff;
    filter: drop-shadow(0px 2px 8px rgba(0, 0, 0, 1));
}

.big-image:hover {
    box-shadow: 0 0 1em;
    padding-bottom: 130px;
}

.big-image:hover .hidden {
    display: block;
}


.pagination {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    margin-left: -300px;
    font-size: 23px;
    width: 50px;
}

.pagination a {
    text-decoration: none;
    color: #727272;
}

.pagination a.active {
    color: #00c8c8;
}

.pagination a:hover {
    color: #00c8c8;
}










