/*
psd file: 2052px breit
          3250px hoch
*/


body, *, *:before, *:after {
    box-sizing: border-box;
}

html, body {
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    color: #9a9a9a;
}

/*-------------------------------------------------------------------------------------
    HEADER BEGIN
---------------------------------------------------------------------------------------------------*/

#top-bar {
    max-width: 100%;
    background-color: #333333;
    min-height: 45px;
    height: 12%
}

#top-bar > a {
    font-size: 13px;
    line-height: 45px;
    margin-right: 35%;
    color: #999999;
    font-weight: 400;
    float: right;
}

#top-bar > a:hover {
    font-weight: bold;
}

#logo {
    font-size: 24px;
    letter-spacing: 1px;
    position: absolute;
    color: #222222;
    font-weight: normal;
    text-transform: uppercase;
    margin: 30px 80% 15px 6%;
    display: flex;
}

#logo em {
    font-style: normal;
    font-weight: bolder;
}

#slide-container {
    width: 100%;
    height: 920px;
}

#slide-container ul {
    display: inline-flex;
    float: right;
}

#slide-container li {
    color: #000000;
    text-transform: uppercase;
    font-size: 13px;
    line-height: 15px;
    font-weight: 400;
    list-style-type: none;
}

nav {
    background: none;
    position: absolute;
    right: 20px;
}

nav li {
    color: #989898;
    text-transform: uppercase;
    font-size: 13px;
    line-height: 15px;
    font-weight: 400;
    list-style-type: none;
}

nav ul {
    display: inline-flex;
    float: right;
}


.link {
    color: #989898;
    float: left;
    text-transform: uppercase;
    margin-top: 15px;
    font-size: 13px;
    line-height: 15px;
    font-weight: 400;
    list-style-type: none;
    margin-right: 3em;
    text-decoration: none;
}

.link i {
    margin-top: -5px;
    font-size: 13px;
    line-height: 40px;
}

header li:hover .link {
    color: #00c8c8;
}


.submenu {
    visibility: hidden;
    height: auto;
    width: 400px;
    position: absolute;
    z-index: 1000;
    margin-top: 60px;
    margin-left: -200px;
    display: inline-block;
    display: flex;
    background-color: whitesmoke;
    filter: drop-shadow(0px 10px 10px black);
}

.sub-header {
    font-size: 12px;
    line-height: 50px;
    color: #989898;
    font-weight: 700;
}

nav #sub-men {
    margin-bottom: 20px;
    margin-left: 15px;
}

nav #sub-women {
    padding-left: 50px;
}

nav #sub-kids {
    padding-left: 50px;
}

#submenu-men li, #submenu-women li, #submenu-kids li .submenu a {
    text-transform: none;
    font-size: 14px;
    line-height: 30px;
    color: #727272;
    font-weight: 300;
}

.submenu a {
    color: #727272;
}

.submenu a:hover {
    color: #00c8c8;
}


ul li:hover .submenu, ul li:focus .submenu {
    visibility: visible;
    height: auto;
}

a {
    text-decoration: none;
}

#slider {
    width: 100%;
    height: 24%;
    background-color: #f8f8f8;
    float: left;
}


#hompage-photo {

    height: 920px;
    overflow: hidden;
}

#avelogo {
    display: flex;
    justify-content: space-around;
    color: #575153;
    position: absolute;
    z-index: 1;
    font-weight: 700;
    font-size: 450px;
    width: 100%;
    top: 150px;
}

#slider {
    display: block;
}

#slider button {

    text-align: center;
    width: 342px;
    height: 59px;
    position: absolute;
    top: 730px;
    right: 200px;
    cursor: pointer;
    font-size: 16px;
    letter-spacing: 3px;
    color: #454647;
    font-weight: 400;
    text-transform: uppercase;
    background-color: rgba(115, 115, 115, 0);
    border: 2px solid #737373;
}

#slider button:hover {
    background-color: #00c8c8;
    color: #f8f8f8;
}


/*-------------------------------------------------------------------------------------
    HEADER END
---------------------------------------------------------------------------------------------------*/

main {
    margin-top: 60px;
    margin-left: 360px;
    margin-right: 360px;
    margin-bottom: 60px;
    word-wrap: break-word;
}

#border {
    width: auto;
    background-color: #eeeeee;
    height: 2px;
    margin-left: -300px;
    margin-right: -300px;
}

#sort {
    width: 650px;
}

#sort li {
    display: inline;
    list-style-type: none;
    text-transform: uppercase;
    font-size: 13px;
    line-height: 20px;
    font-weight: 400;
    margin-right: 3.5em;
}

#sort li:hover {
    color: #00c8c8;
    cursor: pointer;
}

.content {
    width: auto;
    margin-left: -310px;
    margin-right: -310px;
}














